.navbar {
	margin-bottom: 0 !important;
}

.jumbotron {
	margin-top: 0;
	background-image: url("/images/hots-garrosh-wide.jpg");
	background-size: cover;
	height: 500px;
}

#splash-h1 {
	color: white;
	text-shadow: 2px 2px #ff0000;
	margin-left: 15px;
} 

#splash-h3 {
	color: white;
	text-shadow: 2px 2px #ff0000;
	margin-left: 25px;
}